<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="/public/css/styleform.css" rel="stylesheet">
    <script src="validacion.js"></script>


    <title>Formulario</title>
</head>

<body>
    <section class="contact-box">
        <div class="row no-gutters bg-dark">
            <div class="col-xl-5 col-lg-12 register-bg">
                <div class="position-absolute testiomonial p-4">
                    <h3 class="font-weight-bold text-light"></h3>
                    <p class="lead text-light"></p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 d-flex">
                <div class="container align-self-center p-6">
                    <h1 class="font-weight-bold mb-3">Formulario de Inscripcion al Gimnasio</h1>

                    <form>
                        <h2>Información Personal</h2>
                        <label for="nombreCompleto">Nombre Completo:</label>
                        <input type="text" id="nombreCompleto" name="nombreCompleto"><br><br>
                        <label for="correoElectronico">Correo Electrónico:</label>
                        <input type="email" id="correoElectronico" name="correoElectronico"><br><br>
                        <label for="numeroTelefono">Número de Teléfono:</label>
                        <input type="tel" id="numeroTelefono" name="numeroTelefono"><br><br>
                        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                        <input type="date" id="fechaNacimiento" name="fechaNacimiento"><br><br>

                        <h2>Información de Membresía</h2>
                        <label for="nuevoMiembro">¿Eres un nuevo miembro?:</label>
                        <select id="nuevoMiembro" name="nuevoMiembro">
                            <option value=""></option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                          </select><br><br>
                        <label for="comoTeEnteraste">¿Cómo te enteraste de nosotros?:</label>
                        <select id="comoTeEnteraste" name="comoTeEnteraste">
                            <option value=""></option>
                            <option value="Amigos/Familia">Amigos/Familia</option>
                            <option value="Redes Sociales">Redes Sociales</option>
                            <option value="Publicidad">Publicidad</option>
                            <option value="Otros">Otros</option>
                          </select><br><br>

                        <h2>Selección de Clases y Membresía</h2>
                        <label for="clasesDisponibles">Clases Disponibles:</label>
                        <select id="clasesDisponibles" name="clasesDisponibles">
                            <option value=""></option>
                            <option value="Yoga">Yoga ($50)</option>
                            <option value="Crossfit">Crossfit ($75)</option>
                            <option value="Cardio">Cardio ($45)</option>
                          </select><br><br>

                        <h2>Horarios de Clases</h2>
                        <table border="1">
                            <tr>
                                <th>Día</th>
                                <th>Clase</th>
                                <th>Hora</th>
                                <th>Seleccionar</th>
                            </tr>
                            <tr>
                                <td>Lunes</td>
                                <td>Cardio</td>
                                <td>7:00 AM - 9:00 AM</td>
                                <td><input type="checkbox" name="horario[]" value="Lunes - Cardio - 7:00 AM - 9:00 AM">
                                </td>
                            </tr>
                            <tr>
                                <td>Lunes</td>
                                <td>Boxing</td>
                                <td>2:00 PM - 4:00 PM</td>
                                <td><input type="checkbox" name="horario[]" value="Lunes - Boxing - 2:00 PM - 4:00 PM">
                                </td>
                            </tr>
                            <tr>
                                <td>Martes</td>
                                <td>Yoga</td>
                                <td>7:00 AM - 9:00 AM</td>
                                <td><input type="checkbox" name="horario[]" value="Martes - Yoga - 7:00 AM - 9:00 AM">
                                </td>
                            </tr>
                            <tr>
                                <td>Martes</td>
                                <td>Power Fitness</td>
                                <td>7:00 AM - 9:00 AM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Martes - Power Fitness - 7:00 AM - 9:00 AM"></td>
                            </tr>
                            <tr>
                                <td>Martes</td>
                                <td>Boxing</td>
                                <td>11:00 AM - 2:00 PM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Martes - Boxing - 11:00 AM - 2:00 PM"></td>
                            </tr>
                            <tr>
                                <td>Martes</td>
                                <td>Power lifting</td>
                                <td>3:00 PM - 6:00 PM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Martes - Power lifting - 3:00 PM - 6:00 PM"></td>
                            <tr>
                                <td>Martes</td>
                                <td>Power lifting</td>
                                <td>3:00 PM - 6:00 PM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Martes - Power lifting - 3:00 PM - 6:00 PM"></td>
                            </tr>
                            <tr>
                                <td>Miércoles</td>
                                <td>Boxing</td>
                                <td>8:00 AM - 9:00 AM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Miércoles - Boxing - 8:00 AM - 9:00 AM"></td>
                            </tr>
                            <tr>
                                <td>Miércoles</td>
                                <td>Aerobic</td>
                                <td>11:30 AM - 3:30 PM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Miércoles - Aerobic - 11:30 AM - 3:30 PM"></td>
                            </tr>
                            <tr>
                                <td>Jueves</td>
                                <td>Aerobic</td>
                                <td>8:00 AM - 9:00 AM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Jueves - Aerobic - 8:00 AM - 9:00 AM"></td>
                            </tr>
                            <tr>
                                <td>Jueves</td>
                                <td>Cardio</td>
                                <td>6:00 PM - 9:00 PM</td>
                                <td><input type="checkbox" name="horario[]" value="Jueves - Cardio - 6:00 PM - 9:00 PM">
                                </td>
                            </tr>
                            <tr>
                                <td>Viernes</td>
                                <td>Yoga Section</td>
                                <td>7:00 AM - 9:00 AM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Viernes - Yoga Section - 7:00 AM - 9:00 AM"></td>
                            </tr>
                            <tr>
                                <td>Viernes</td>
                                <td>Body work</td>
                                <td>11:50 AM - 5:20 PM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Viernes - Body work - 11:50 AM - 5:20 PM"></td>
                            </tr>
                            <tr>
                                <td>Sábado</td>
                                <td>Cardio</td>
                                <td>8:00 AM - 9:00 AM</td>
                                <td><input type="checkbox" name="horario[]" value="Sábado - Cardio - 8:00 AM - 9:00 AM">
                                </td>
                            </tr>
                            <tr>
                                <td>Sábado</td>
                                <td>Crossfit</td>
                                <td>5:00 PM - 7:00 PM</td>
                                <td><input type="checkbox" name="horario[]"
                                        value="Sábado - Crossfit - 5:00 PM - 7:00 PM"></td>
                            </tr>
                        </table>

                        <h2>Método de Pago</h2>
                        <label for="metodoPago">Seleccione su método de pago:</label>
                        <select id="metodoPago" name="metodoPago">
                            <option value=""></option>
                            <option value="Tarjeta de Crédito/Débito">Tarjeta de Crédito/Débito</option>
                            <option value="Transferencia Bancaria">Transferencia Bancaria</option>
                            <option value="Pago en Efectivo en el Gimnasio">Pago en Efectivo en el Gimnasio</option>
                            <option value="QR">QR</option>
                          </select><br><br>

                        <h2>Consentimiento</h2>
                        <label for="terminosCondiciones">Términos y Condiciones:</label>
                        <input type="checkbox" id="terminosCondiciones" name="terminosCondiciones">
                        He leído y acepto los términos y condiciones del gimnasio.<br><br>

                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>